#about-con{
	width: 980px;
	margin: 100px auto 20px auto;
}

#about-left{
	float: left;
	width: 495px;
	height: 1800px;
	background: #fff;
}

.left-h{
	position: relative;
	top: -50px;
	left: 300px;
	font-size: 20px;
	font-weight: normal;
}

h1.left-h{
	left: 340px;
	top: -60px;
}

h4.left-h{
	top: 40px;
}

.left-img{
	position: relative;
	left: 440px;
	font-size: 20px;
	font-weight: normal;
	margin: 50px 0;
}

#lear{
	top: 70px;
}

#person{
	position: relative;
	left: 400px;
	top:-60px;
}

#about-right{
	float: right;
	width: 420px;
	height: 1740px;
	background: #fff;
	padding: 30px;
}

#self-in p{
	text-indent: 1.7em;
	position: relative;
	top: 90px;
}

#self-in ul{
	position:relative;
	top: 295px; 
}

#self-in span{
	position: relative;
	top: 460px;
	left: 20px;
}

.year{
	-webkit-border-radius:10px;
	height: 25px;
	width: 60px;
	border: 5px solid #eee;
	position: relative;
	line-height: 25px;
	text-align: center;
	background: #fff;
	left: -67px;
}

#year1{
	top: 500px;
}

#year2{
	top: 500px;
}