* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 980px;
    margin: 0 auto;
}
.dragWrap {
    width: 250px;
    height: 500px;
    border: 1px solid #000;
}
#wrapLeft {
    float: left;
}
#wrapRight {
    float: right;
}
.dragBox {
    width: 250px;
    height: 50px;
    background: #f00;
    border: 1px solid #000;
    position: absolute;
}
#leftBox1 {
    top: 0;
}
#leftBox2 {
    top: 50px;
}
#leftBox3 {
    top: 100px;
}
#leftBox4 {
    top: 150px;
}
#rightBox1 {
    top: 0;
}
#rightBox2 {
    top: 50px;
}
#rightBox3 {
    top: 100px;
}
#rightBox4 {
    top: 150px;
}
.clearfix:after {
    content: "\200B";
    height: 0;
    display: block;
    clear: both;
}
.clearfix {
    *zoom: 1;
}