* {
    padding: 0;
    margin: 0;
}
#ulItems {
    border: 1px solid #cecece;
    border-top: none;
    width: 200px;
    padding: 2px;
    margin: 0px;
}
li {
    list-style: none;
}
li:hover {
    background: #C1BDBD;